<div id="particles">
  <div id="intro">
    <h1>Profile</h1>
    <!-- <a class="btn" ui-sref="Profile">Profile</a> -->
    <a class="btn" ui-sref="Experience">Experience</a>
    <a class="btn" ui-sref="Technology">Technology</a>
    <a class="btn" ui-sref="Education">Education</a>


    <div class="profile-pic-section">
      <img id="profile-pic" src="../images/profilepicture.jpg" alt="profile picture">
      <h2>Clay Taylor</h2>
      <a class="btn" href="mailto:claydevelops@gmail.com?Subject=Hello">Email</a>
    </div>
<div class="profile-block">
    <div class="profile-section">
        <p id="profile-title">Titles<p>
          <h3>Web Developer<h3>
          <h3>Front-End Developer<h3>
          <h3>UI Designer<h3>
    </div>
    <div class="profile-section">
        <p id="profile-title">Birthday<p>
          <h3> March 15, 1994</h3>
    </div>
    <div class="profile-section">
        <p id="profile-title">Locations</p>
          <h3>Oklahoma City, Oklahoma<h3>
          <h3>Boulder, Colorado<h3>
    </div>
      <div class="profile-section">
          <p id="profile-title">Connect</p>
            <a class="btn" href="https://github.com/ClaytonTaylor" target="_blank">GitHub</a>
            <a class="btn" href="https://www.linkedin.com/in/clay-taylor-create/" target="_blank">LinkedIn</a>
            <a class="btn" href="https://www.instagram.com/claytontaylor/" target="_blank">Instagram</a>
      </div>

</div>

  </div>
</div>
